xml-resources/web-service-references/Backup/wsdl/localhost_8085/WebServiceBackup/Backup.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.com/" name="Backup">
<types>
<xsd:schema>
<xsd:import namespace="http://service.com/" schemaLocation="http://localhost:8085/WebServiceBackup/Backup?xsd=1" />
</xsd:schema>
</types>
<message name="Sum">
<part name="parameters" element="tns:Sum" />
</message>
<message name="SumResponse">
<part name="parameters" element="tns:SumResponse" />
</message>
<message name="getTemperature">
<part name="parameters" element="tns:getTemperature" />
</message>
<message name="getTemperatureResponse">
<part name="parameters" element="tns:getTemperatureResponse" />
</message>
<message name="getBloodPressure">
<part name="parameters" element="tns:getBloodPressure" />
</message>
<message name="getBloodPressureResponse">
<part name="parameters" element="tns:getBloodPressureResponse" />
</message>
<message name="addNumber">
<part name="parameters" element="tns:addNumber" />
</message>
<message name="addNumberResponse">
<part name="parameters" element="tns:addNumberResponse" />
</message>
<message name="getGlicose">
<part name="parameters" element="tns:getGlicose" />
</message>
<message name="getGlicoseResponse">
<part name="parameters" element="tns:getGlicoseResponse" />
</message>
<message name="getPulseOxygen">
<part name="parameters" element="tns:getPulseOxygen" />
</message>
<message name="getPulseOxygenResponse">
<part name="parameters" element="tns:getPulseOxygenResponse" />
</message>
<message name="getAirFlow">
<part name="parameters" element="tns:getAirFlow" />
</message>
<message name="getAirFlowResponse">
<part name="parameters" element="tns:getAirFlowResponse" />
</message>
<message name="getHeartRate">
<part name="parameters" element="tns:getHeartRate" />
</message>
<message name="getHeartRateResponse">
<part name="parameters" element="tns:getHeartRateResponse" />
</message>
<message name="alarm">
<part name="parameters" element="tns:alarm" />
</message>
<message name="alarmResponse">
<part name="parameters" element="tns:alarmResponse" />
</message>
<message name="Sub">
<part name="parameters" element="tns:Sub" />
</message>
<message name="SubResponse">
<part name="parameters" element="tns:SubResponse" />
</message>
<message name="addClass">
<part name="parameters" element="tns:addClass" />
</message>
<message name="addClassResponse">
<part name="parameters" element="tns:addClassResponse" />
</message>
<portType name="Backup">
<operation name="Sum">
<input wsam:Action="http://service.com/Backup/SumRequest" message="tns:Sum" />
<output wsam:Action="http://service.com/Backup/SumResponse" message="tns:SumResponse" />
</operation>
<operation name="getTemperature">
<input wsam:Action="http://service.com/Backup/getTemperatureRequest" message="tns:getTemperature" />
<output wsam:Action="http://service.com/Backup/getTemperatureResponse" message="tns:getTemperatureResponse" />
</operation>
<operation name="getBloodPressure">
<input wsam:Action="http://service.com/Backup/getBloodPressureRequest" message="tns:getBloodPressure" />
<output wsam:Action="http://service.com/Backup/getBloodPressureResponse" message="tns:getBloodPressureResponse" />
</operation>
<operation name="addNumber">
<input wsam:Action="http://service.com/Backup/addNumberRequest" message="tns:addNumber" />
<output wsam:Action="http://service.com/Backup/addNumberResponse" message="tns:addNumberResponse" />
</operation>
<operation name="getGlicose">
<input wsam:Action="http://service.com/Backup/getGlicoseRequest" message="tns:getGlicose" />
<output wsam:Action="http://service.com/Backup/getGlicoseResponse" message="tns:getGlicoseResponse" />
</operation>
<operation name="getPulseOxygen">
<input wsam:Action="http://service.com/Backup/getPulseOxygenRequest" message="tns:getPulseOxygen" />
<output wsam:Action="http://service.com/Backup/getPulseOxygenResponse" message="tns:getPulseOxygenResponse" />
</operation>
<operation name="getAirFlow">
<input wsam:Action="http://service.com/Backup/getAirFlowRequest" message="tns:getAirFlow" />
<output wsam:Action="http://service.com/Backup/getAirFlowResponse" message="tns:getAirFlowResponse" />
</operation>
<operation name="getHeartRate">
<input wsam:Action="http://service.com/Backup/getHeartRateRequest" message="tns:getHeartRate" />
<output wsam:Action="http://service.com/Backup/getHeartRateResponse" message="tns:getHeartRateResponse" />
</operation>
<operation name="alarm">
<input wsam:Action="http://service.com/Backup/alarmRequest" message="tns:alarm" />
<output wsam:Action="http://service.com/Backup/alarmResponse" message="tns:alarmResponse" />
</operation>
<operation name="Sub">
<input wsam:Action="http://service.com/Backup/SubRequest" message="tns:Sub" />
<output wsam:Action="http://service.com/Backup/SubResponse" message="tns:SubResponse" />
</operation>
<operation name="addClass">
<input wsam:Action="http://service.com/Backup/addClassRequest" message="tns:addClass" />
<output wsam:Action="http://service.com/Backup/addClassResponse" message="tns:addClassResponse" />
</operation>
</portType>
<binding name="BackupPortBinding" type="tns:Backup">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="Sum">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getTemperature">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getBloodPressure">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addNumber">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getGlicose">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getPulseOxygen">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAirFlow">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getHeartRate">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="alarm">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Sub">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addClass">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="Backup">
<port name="BackupPort" binding="tns:BackupPortBinding">
<soap:address location="http://localhost:8085/WebServiceBackup/Backup" />
</port>
</service>
</definitions>