xml-resources/web-service-references/CPS/wsdl/localhost_8080/WebService/CPS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.com/" name="CPS">
<types>
<xsd:schema>
<xsd:import namespace="http://service.com/" schemaLocation="http://localhost:8080/WebService/CPS?xsd=1"/>
</xsd:schema>
</types>
<message name="Sum">
<part name="parameters" element="tns:Sum"/>
</message>
<message name="SumResponse">
<part name="parameters" element="tns:SumResponse"/>
</message>
<message name="Sub">
<part name="parameters" element="tns:Sub"/>
</message>
<message name="SubResponse">
<part name="parameters" element="tns:SubResponse"/>
</message>
<message name="addNumber">
<part name="parameters" element="tns:addNumber"/>
</message>
<message name="addNumberResponse">
<part name="parameters" element="tns:addNumberResponse"/>
</message>
<message name="getTemperature">
<part name="parameters" element="tns:getTemperature"/>
</message>
<message name="getTemperatureResponse">
<part name="parameters" element="tns:getTemperatureResponse"/>
</message>
<message name="getBloodPressure">
<part name="parameters" element="tns:getBloodPressure"/>
</message>
<message name="getBloodPressureResponse">
<part name="parameters" element="tns:getBloodPressureResponse"/>
</message>
<message name="getGlucose">
<part name="parameters" element="tns:getGlucose"/>
</message>
<message name="getGlucoseResponse">
<part name="parameters" element="tns:getGlucoseResponse"/>
</message>
<message name="getPulseOxygen">
<part name="parameters" element="tns:getPulseOxygen"/>
</message>
<message name="getPulseOxygenResponse">
<part name="parameters" element="tns:getPulseOxygenResponse"/>
</message>
<message name="getAirFlow">
<part name="parameters" element="tns:getAirFlow"/>
</message>
<message name="getAirFlowResponse">
<part name="parameters" element="tns:getAirFlowResponse"/>
</message>
<message name="getHeartRate">
<part name="parameters" element="tns:getHeartRate"/>
</message>
<message name="getHeartRateResponse">
<part name="parameters" element="tns:getHeartRateResponse"/>
</message>
<message name="addClass">
<part name="parameters" element="tns:addClass"/>
</message>
<message name="addClassResponse">
<part name="parameters" element="tns:addClassResponse"/>
</message>
<portType name="CPS">
<operation name="Sum">
<input wsam:Action="http://service.com/CPS/SumRequest" message="tns:Sum"/>
<output wsam:Action="http://service.com/CPS/SumResponse" message="tns:SumResponse"/>
</operation>
<operation name="Sub">
<input wsam:Action="http://service.com/CPS/SubRequest" message="tns:Sub"/>
<output wsam:Action="http://service.com/CPS/SubResponse" message="tns:SubResponse"/>
</operation>
<operation name="addNumber">
<input wsam:Action="http://service.com/CPS/addNumberRequest" message="tns:addNumber"/>
<output wsam:Action="http://service.com/CPS/addNumberResponse" message="tns:addNumberResponse"/>
</operation>
<operation name="getTemperature">
<input wsam:Action="http://service.com/CPS/getTemperatureRequest" message="tns:getTemperature"/>
<output wsam:Action="http://service.com/CPS/getTemperatureResponse" message="tns:getTemperatureResponse"/>
</operation>
<operation name="getBloodPressure">
<input wsam:Action="http://service.com/CPS/getBloodPressureRequest" message="tns:getBloodPressure"/>
<output wsam:Action="http://service.com/CPS/getBloodPressureResponse" message="tns:getBloodPressureResponse"/>
</operation>
<operation name="getGlucose">
<input wsam:Action="http://service.com/CPS/getGlucoseRequest" message="tns:getGlucose"/>
<output wsam:Action="http://service.com/CPS/getGlucoseResponse" message="tns:getGlucoseResponse"/>
</operation>
<operation name="getPulseOxygen">
<input wsam:Action="http://service.com/CPS/getPulseOxygenRequest" message="tns:getPulseOxygen"/>
<output wsam:Action="http://service.com/CPS/getPulseOxygenResponse" message="tns:getPulseOxygenResponse"/>
</operation>
<operation name="getAirFlow">
<input wsam:Action="http://service.com/CPS/getAirFlowRequest" message="tns:getAirFlow"/>
<output wsam:Action="http://service.com/CPS/getAirFlowResponse" message="tns:getAirFlowResponse"/>
</operation>
<operation name="getHeartRate">
<input wsam:Action="http://service.com/CPS/getHeartRateRequest" message="tns:getHeartRate"/>
<output wsam:Action="http://service.com/CPS/getHeartRateResponse" message="tns:getHeartRateResponse"/>
</operation>
<operation name="addClass">
<input wsam:Action="http://service.com/CPS/addClassRequest" message="tns:addClass"/>
<output wsam:Action="http://service.com/CPS/addClassResponse" message="tns:addClassResponse"/>
</operation>
</portType>
<binding name="CPSPortBinding" type="tns:CPS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Sum">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Sub">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNumber">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTemperature">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBloodPressure">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getGlucose">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPulseOxygen">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAirFlow">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHeartRate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addClass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CPS">
<port name="CPSPort" binding="tns:CPSPortBinding">
<soap:address location="http://localhost:8080/WebService/CPS"/>
</port>
</service>
</definitions>